body { font-family: Helvetica, Arial, sans-serif; }

.container {
  margin: 0 auto;
  background-color: #efefef;
  max-width: 1200px;
}

.mainHeader {
  display: flex;
}

.box{
  background-color: #8ea89e;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.nav {
  width: 10%;
}

.logo {
  width: 50%;
  /*margin-left: auto;
  margin-right: auto;*/
  order: -1;
}

#burgerCon {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: fixed;
  top: 85px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /*This should be off be default and toggled on by JavaScript*/
  display: none;
}

.show-mobile-nav { display: block !important; }

#burgerCon li {
  padding: 20px;
  border-top: thin solid #666;
  text-align: center;
}

#burgerCon a {
  text-decoration: none;
  color: #8ea89e;
}

@media screen and (min-width: 600px) {
  .mainHeader {
    display: flex;
    flex-direction: row;
  }

  .box {
    flex: 1 1 auto; /*Grow and Shrink property*/
  }

  .nav {
    flex: 0 1 600px; /*Nav will not grow past 600px, but will shrink*/
  }

  .logo {
    order: -1;
    flex: 0 1 220px;
    margin-left: 10px;
  }

  #products {
    display: flex;
    flex-direction: row;
  }
}
